body {
    font-family: "Sahitya", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    top: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

    .login-box h2 {
        margin-top: 0;
        color: #1d4e89;
    }

    .login-box p {
        color: #666;
    }

.login-box input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-box button {
    padding: 15px 50px;
    background-color: #ffb74d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

        .login-box button:hover {
            background-color: #ffa726;
        }
